<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' name='viewport'>
    <meta content='telephone=no' name='format-detection'>
    <meta data-end-point='https://end-user-point-platform.point.popinfo.jp' name='point-platform'>
    <meta data-end-point='https://end-user-action-platform.point.popinfo.jp' name='action-platform'>
    <meta data-end-point='https://s3-ap-northeast-1.amazonaws.com/coupon.point.popinfo.jp' name='coupon-json'>
    <meta data-name='SmartLifeStation-dev' name='shop'>
    <title>Popinfoポイント</title>
    <link href="../assets/stylesheets/all-01bddb9a.css" rel="stylesheet" />
    <script src="../assets/javascripts/all-ad53def4.js"></script>
  </head>
  <body class='coupons coupons_index'>
    <div class='Coupons'>
      <div class='Point'>
        <div class='Point-topText'>現在のポイント</div>
        <div class='Point-count js-CurrentPoint'>-</div>
      </div>
      <p class='Coupons-text'>交換したいクーポンをタップしてください</p>
      <div class='js-coupons'></div>
      <script class='js-coupons-template' type='text/template'>
        <div class='Coupons-wrapper'>
          <h2 class='Coupons-title'><span><%= point %></span><span>ポイント対象クーポン</span></h2>
          <ul class='Coupons-contents'>
            <%= contentsItems %>
          </ul>
        </div>
      </script>
      <script class='js-coupons-shortage-point-template' type='text/template'>
        <div class='Coupons-wrapper is-shortagePoint js-shortagePoint'>
          <h2 class='Coupons-title'><span>ポイントが足りません！&nbsp;</span><span><%= point %></span><span>ポイント対象クーポン</span></h2>
          <ul class='Coupons-contents'>
            <%= contentsItems %>
          </ul>
        </div>
      </script>
      <script class='js-coupons-item-wrapper-template' type='text/template'>
        <li class='Coupons-contentsItem'>
          <a href='/coupons/show.html?coupon_id=<%= couponId %>'>
            <%= itemDetail %>
          </a>
        </li>
      </script>
      <script class='js-coupons-shortage-item-wrapper-template' type='text/template'>
        <li class='Coupons-contentsItem -pageIndex'>
          <%= itemDetail %>
        </li>
      </script>
      <script class='js-coupons-item-detail-template' type='text/template'>
        <p class='Coupons-contentsImage' style='background-image: url(<%= imageUrl %>)'></p>
        <div class='Coupons-contentsTexts'>
          <h3 class='Coupons-contentsTitle'><%- title %></h3>
          <p class='Coupons-contentsAvailable'><span>有効期限：</span><span><%= usableEndAt %></span><span>まで</span><br><span><%= providerName %></span><span>で利用可能</span></p>
        </div>
      </script>
    </div>
    <div class='Loading js-Loading'>
      <span class='Loading-item'></span>
      <span class='Loading-item'></span>
      <span class='Loading-item'></span>
    </div>
  </body>
</html>
